---

layout: default

title: Purpose

body-class: purpose

#stylesheet:

#script:

---

  {% include global-nav-bar.html %}

  <section id="hero" class="hero hero-main">
    <div class="container row">
      <h1>
        /Purpose
      </h1>
    </div>
  </section>

  <section id="the-team" class="panel">
    <div class="container row">
      <h3 class="section-divided-title alt mission">
        <span>Why</span>
      </h3>
      <p>We believe the biggest problem in the media industry is artists and creators finding their true and full audiences. Our mission is to help them find their newest fan.</p>
      <p>Fluence is an attention marketplace that connects artists and creators with influencers, professional curators, and tastemakers. Our premise is  that trusted filters are the best way  to promote new media to  a wider audience, and we've built a better way to connect with those who can give you exposure and feedback. </p>
      <p>We want content to be discovered off its own merit, not off of how much money the creator has to spend.</p>
      <p>Fluence levels that playing ground. Whether you have $10 or $100, you should be able to reach new audiences that match your content.</p>
      <p>We want to help content creators succeed and we want to help influencers find their next big hit. All while making the industry a little more fair to the little guy.</p>
    </div>
  </section>

  {% include social-bar.html %}

</body>
</html>
